body{
	font-family: Arial,Sans-serif !important;
	background: #f4f5f6;
	margin: 0;
}

#container{
	max-width: 1250px;
	min-width: 425px;
	margin: 0 auto;
}

main{	
	background: #fff;
}

#add_container{
	margin: 0 auto;
	width: calc(60% - 40px);
	padding: 60px 20px 100px 20px;
}

#add_container h2{
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 30px;
	border-bottom: 1px solid #d1d1d1;
}

#add_container ul{
	list-style: none;
	margin: 0;
	padding: 0;
}	

#add_container ul li{
	position: relative;
	margin: 35px 0;
}

#add_container ul li p{
	margin: 0 0 5px 0;
	font-size: 15px;
}

#add_container ul li:last-of-type{
	margin: 65px 0 0 0;
}

#add_container input{
	width: calc(100% - 20px);
	padding: 12px 8px;
	font-size: 15px;
	border:1px solid #adadad;
}

#add_container select{
	width: 100%;
	padding: 12px 8px;
	font-size: 15px;
	border:1px solid #adadad;
	cursor: pointer;
}

#add_container textarea{
	font-family: Arial,Sans-serif !important;
	background: #fff;
	width: calc(100% - 20px);
	height: 350px;
	resize: none;
	border: 1px solid #adadad;
	padding: 12px 8px;
}

textarea[name="ksv"]{
	height: 200px !important;
}

#add_container input[type="checkbox"]{
	width: auto !important;
    appearance: none;
    -webkit-appearance: none;
    background: white;
    border: 1px solid #adadad;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px !important;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-bottom: -4px !important;
    cursor: pointer;
    margin: 0 5px;
}

#add_container input[type="checkbox"]:active, #add_container input[type="checkbox"]:checked:active{
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

#add_container input[type="checkbox"]:checked{
	background: white;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

#add_container input[type="checkbox"]:checked:after{
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

#add_container input[type="submit"]{
	background: #fff;
	border:2px solid #d20000;
	color: #d20000;
	font-size: 15px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	width: 180px;
	padding: 8px 15px;
}

#add_container input[type="submit"]:hover{
	color: #fff;
	background: #d20000;
}

#preview{
	display: none;	
	margin: 10px 0 0 0;
}

#preview{
	width: 100%;
	height: 400px;
}

#preview img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}

#reg{
	position: absolute;
	right: 10px;
	bottom: 0;
	margin: 0 !important;
}

#reg a{
	color: blue;
	text-decoration: none;
}

#reg a:hover{
	text-decoration: underline;
}

#error_container{
    color: #212121;
    background-color: #d9edf7;
    padding: 10px 15px;
    margin: 20px 0;
    border: 1px solid #bceff1;
    font-size: 14px;
}

#error_container p{
	margin:5px 0;
}

#success{
	display: none;	
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 5px 15px;
    margin: 25px 0 10px 0;
    border: 1px solid #c9eabc;
    border-radius: 4px;
    font-size: 15px;
}

#success span{
	color: #1c481d;
}

#success a{
	text-decoration: none;
	color: blue;
}

#success a:hover{
	text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
	#add_container{
		width: calc(70% - 40px);
	}
}

@media only screen and (max-width: 850px) {
	#add_container{
		width: calc(80% - 40px);
	}
}

@media only screen and (max-width: 550px) {
	#add_container{
		width: calc(90% - 40px);
	}
}