html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

header{

}

#header{
	position: relative;
	background: red;
	text-align: center;
	padding: 20px;
}

#header img{
	width: 40%;
}

#mob_menu{
	display: none;
	margin: -3px 15px 0 0;
	float:left;
}

#mob_menu img{
	cursor: pointer;
	width: 42px !important;
	height: 30px;
}

#date{
	position: absolute;
	bottom: 28px;
	left:20px;
	color: #fff;
	font-size: 15px;
}

#logout{
	position: absolute;
	bottom: 5px;
	left:20px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

#logout a{
	display: block;
	padding: 2px 5px;
	background: #fff;
	color: red;
	text-decoration: none;
}

#logout a:hover{
	color: #fff;
	background: red;
}

#signin{
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

#signin a{
	color: #fff;
	text-decoration: none;
}

#signin a:hover{
	text-decoration: underline;
}

#loggedin{
	position: absolute;
	bottom: 10px;
	right: 20px;
	text-align: left;
}

#loggedin ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#loggedin ul li{	
	font-size: 15px;
	color: #fff;
}

#loggedin ul li:first-of-type{
	margin: 0 0 8px 0;
}

#loggedin ul li span{
	font-weight: bold;	
}

#loggedin ul li:last-of-type{
	background: #fff;	
}

#loggedin ul li:last-of-type a{
	display: block;
	font-size: 18px;
	color: red;
	padding: 8px 20px;
	text-decoration: none;
}

#loggedin ul li:last-of-type a:after{
	content: '›';
	font-size: 38px;
	position: absolute;
	top:20px;
	right: 10px;
}

#loggedin ul li:last-of-type:hover{
	background: #c32929;
}

#loggedin ul li:last-of-type:hover a{
	color:#fff;
}

main{
	position: relative;
}

#hideAll{
   position: absolute;
   top:0;
   bottom:0;
   left: 0px; 
   right: 0px; 
   background-color: #f9f9f9;
   z-index: 9999999; /* Higher than anything else in the document */
}

nav{
	padding: 15px 10px;
	background: #fff;
	margin: 0 0 3px 0;
}

nav ul{
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li{
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid #d1d1d1;
}

nav ul li.foradmin a{
	font-size: 14px;
	color: #fff;
	border: 1px solid #d20000;
	background: red;
	padding: 5px 20px;
}

nav ul li.foradmin a:hover{
	color: red;
	background: #fff;
	border: none;
}

#logout_nav{
	display: none;
}

li.searchli{
	position: absolute;
	top: -8px;
	right: 10px;
	border: none;	
}

li.searchli img{
	height: 22px;
	position: absolute;
	left: 5px;
	bottom: 5px;
}

li.searchli input{
	width: calc(100% - 62px);
	outline: none;
	border: none;
	border-bottom: 1px solid #adadad;
	padding: 10px 10px 6px 50px;
	font-size: 15px;
}

nav ul li a{
	text-decoration: none;
	padding: 8px 20px;
	color: #000;
	font-weight: bold;
}

nav ul li a:hover{
	color: red;
}

nav ul li a.selected{
	color: red;
}

@media only screen and (max-width: 1100px) {
	nav ul li a{
		padding: 8px 15px;
		color: #000;
		font-size: 14px;
	}

	li.searchli{
		width: 200px;
	}

	#loggedin ul li:last-of-type a {
	    font-size: 16px;
	}
}

@media only screen and (max-width: 925px) {
	main{
		padding-top: 100px !important;
	}

	#header {
	    text-align: left;
	    z-index: 99999;
	    width: calc(100% - 40px);
	    min-width: 425px;
	    position: fixed;
	}

	#header img{
		width: 150px;
	}

	#loggedin ul li {
	    font-size: 14px;
	    color: #fff;
	}

	#loggedin ul li:last-of-type a {
	    font-size: 14px;
	    padding: 5px 20px;
	}

	#loggedin ul li:last-of-type a:after {
	   top: 13px;
	}

    #date{
  	  display: none;
    }

    nav{
    	display: none;
    	position: fixed;
    	z-index: 99999;
    	top: 71px;
    	left: 0;
    	background: #fff;
    	padding: 20px;
    	height: 100%;
    	box-shadow: 1px 0px 2px #d6d6d6;
    }

    nav ul li{
    	display: block;
    	border: none;
    	border-bottom: 1px solid #d1d1d1;
    }

    nav ul li a{
    	font-size: 17px;
    	display: block;
    	padding: 18px 0;
    }

    .foradmin a{
    	text-align: center;
    	margin: 10px 0;
    	padding: 10px 0 !important;
    }

    li.searchli{
    	position: static;
    	top:auto;
    	right: auto;
    	margin: 50px 0 0 0;
    }

    #mob_menu{
    	display: block;
    }

    #logout{
    	display: none;
    }

    #logout_nav{
    	display: block;
    }
}